.sections {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 20px;
    gap: 20px;
}

.section {
    width: 225px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secondary-section {
    .section {
        width: 150px;
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}