.page-content.nosotros-page {
  padding: 2rem;
  max-width: 1200px;
  overflow: hidden;
  background-color: #053d54;
}

.nosotros-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nosotros-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  padding: 0 3rem;
}

.nosotros-image {
  width: 20%;
}

/* Responsive Design */
@media (max-width: 768px) {
 
  .nosotros-text {
    width: 100%;
  }

  .nosotros-image {
    position: absolute; 
  }
}