.footer {
    background-color: #043e53;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    .dodo-travel {
        width: 200px;
        height: 200px;
        left: auto;
    }

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
        overflow: hidden;
    }

    .footer-text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: row; 
    }
}


/* Mobile Styles */
@media (max-width: 768px) {
    .footer {
        .dodo-travel {
            width: 100px;
            height: 100px;
        }
    }
}
