
/* Navigation Bar */
.banner {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 85vh;
    margin-bottom: 40px;
}

.bannerLogo {
    width: 60vh;
    height: 60vh;
}

/* Responsive Design */
@media (max-width: 768px) {
    .banner {
        margin-bottom: 0;
    }
}